<!-- File that displays stats of nutrients and allows the user to add more foods -->

{% extends 'base.html'%}
{% block content %}

   <!-- sorts food dairy by date and shows date -->
    {% comment %} <div class="row">
        <div class="col-3">
          <form action="{% url 'journal' %}" method="POST">
            {% csrf_token %}
            <label for="date_entered" class="form-label">Date: {{today}}</label>
            <input type="date" class="form-control" id="date_entered" name="date_entered" onchange="this.form.submit()">
          </form>
        </div>
    </div> {% endcomment %}
    <header class="section-header">
      <h2>Workout List</h2>
      <p>Dashboard</p>
    </header>
      {% comment %} {% for personWorkout in person_workout %}
        <p>Workout_name: {{personWorkout.workout}}</p>
        <p>Muscle Group: {{personWorkout.workout.category}}</p>
        <p>Workout ID: {{personWorkout.person_workout}}</p>
      {% for workout_data in person_workout_data %}
        {% if personWorkout.person_workout == workout_data.person_workout %}
        <p>Number of sets: {{workout_data.num_sets}}</p>
        <p>Number of reps: {{workout_data.num_reps}}</p>
        <p>Date: {{workout_data.workout_date}}</p>
        <p>ID: {{workout_data.person_workout}}</p>
        <br>
        {% endif %}
    {% endfor %}
    {% endfor %} {% endcomment %}
    {% for category in workout_cat %}
    
        <div class="row mb-0 mx-auto">
          <div class="col-9">
            <div class="accordion" id="accordionCategories">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{category.category_name}}">
                  <button class="accordion-button collapsed fs-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{category.category_name}}" aria-expanded="false" aria-controls="flush-collapse{{category.category_name}}">
                    {{category.category_name}}
                  </button>
                </h2>   
                <div id="flush-collapse{{category.category_name}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{category.category_name}}" >

                      {% for exercise in person_workout %}
                        {% if exercise.workout.category.id == category.id %}
                        <div class="accordion" id="accordionWorkouts">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading{{exercise.workout.workout}}">
                              <button class="accordion-button collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{exercise.workout.workout}}" aria-expanded="false" aria-controls="flush-collapse{{exercise.workout.workout}}">
                                {{exercise.workout}}
                              </button>
                            </h2>
                            <div id="flush-collapse{{exercise.workout.workout}}" class="accordion-collapse collapse show" aria-labelledby="flush-heading{{exercise.workout.workout}}">
                              <div class="accordion-body">

                                    <table class="table table-striped table-hover caption-top">
                                      <thead class="table-primary">
                                        <tr>
                                          <th scope="col">Sets</th>
                                          <th scope="col">Reps</th>
                                          <th scope="col">Weight</th>
                                          <th scope="col">Date</th>
                                          <th scope="col">Edit</th> 
                                          <th scope="col">Delete</th> 
                                          <th scope="col">Add Workout</th> 
                                          
                                        </tr>
                                      </thead>
                                        {% for workout_data in person_workout_data %}
                                          {% if exercise.workout.workout == workout_data.person_workout.workout.workout %}
                                          <tbody>
                                          <tr>
                                            <td>{{workout_data.num_sets}}</td>
                                            <td>{{workout_data.num_reps}}</td>
                                            <td>{{workout_data.weight_used}}</td>
                                            <td>{{workout_data.workout_date}}</td>
                                            <td><a href="{% url 'updateWorkout' id=workout_data.id %}">EDIT</a></td>
                                            <td><a class="text-danger" href="{% url 'deleteWorkout' id=workout_data.id %}">DELETE</a></td>
                                            <td><a href="{% url 'add_workout' id=workout_data.id %}" >ADD WORKOUT</a></td>
                                          </tr>
                                      </tbody>
                                          {% endif %}
                                        {% endfor %}
                                    </table>
                                      {% comment %} <a class="btn btn-primary" href="{% url 'add_workout' id=person_workout_data.person_workout_id %}">4.ADD WORKOUT</a> {% endcomment %}

                              </div>
                            </div>
                          </div> 
                        </div>
                        {% endif %}
                      {% endfor %}

                </div>
              </div> 
            </div>
          </div>
        </div>  
        {% endfor %}

  <div class="row mb-5 mt-5">
  </div>
  <div class="row mb-5 mt-5">
  </div>
  <div class="row mb-5 mt-5">
  </div>
   

 

   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

 

{% endblock %}

